<html>
  <header>
    <title>Bem-vidos ao sistema</title>
  </header>
  <body>
    <h2>SISTEMA DE GERENCIAMENTO HOSPITALAR</h2>
    <form action="/registro/funcionario" method="POST">
      <input type="text" name="nome" placeholder="Nome Funcionário" />
      <input type="number" name="cpf" placeholder="CPF Funcionário" />
      <input type="text" name="cargo" placeholder="Cargo Funcionário" />
      
      <br>
      <button type="submit" >Cadastrar Funcionário</button>
    </form>
    
  </body>
</html>