<html>
  <header>
    <title>Bem-vidos ao sistema</title>
  </header>
  <body>
  <h2>EXCLUINDO USUÁRIO DO SISTEMA.</h2>
    <br>
    <form action="/excluido" method="POST">
      <input type="text" name="nome" placeholder="Deletar Usuário" />
      <button type="submit">Deletar</button>
    </form>
    <script>
      
    </script>
  </body>
</html>