<html>
  <header>
    <title>Bem-vidos ao sistema</title>
  </header>
  <body>
    {% for nome in nomes %}
      Sistema de Funcionarios, seja bem-vindo {{ nome }}. <br>      
    {% endfor %}
  </body>
</html>