<html>
  <header>
    <title>Bem-vidos ao sistema</title>
  </header>
  <body>
    <h2>SISTEMA DE GERENCIAMENTO HOSPITALAR</h2>
    <form action="/registro" method="POST">
      <button type="submit" name="registro" onclick="alert('Consultar Registro no log.')" >Registro de usuários</button>
    </form>
    
  </body>
</html>